@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#tbl2 tr{
  border:2px solid black;
}
#tbl3 tr{
  border:0 ;
}
#tbl3{
  border-top:none;
  border-bottom: none;
}
#tbl1 td{
  border:2px solid black;
}
input{
  border:2px solid black;
  border-radius: 5px;
  text-align: center;
}
body{
  width:100%;
}
table{
  border-color: black;
}
